@import 'globals/variables';

html {
  background: white;
}

body {
  background: white;
  font-family: 'Oxygen', sans-serif;
}

.container-fluid {
  margin: 0 auto;
  max-width: 1000px;
}

h1 {
  font-family: 'Ledger', serif;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}
