.row-fluid
  .span4
    %h1 Search Flickr
  .span8
    = form_tag images_path, method: 'get' do
      %span
        - if @query.empty?
          = text_field_tag :search, nil, placeholder: 'enter a keyword'
        - else
          = text_field_tag :search, nil, placeholder: params[:search]
      %span
        = submit_tag 'Search', name: nil, class: 'btn btn-success'

