@import 'globals/variables';

html {
  background: none !important;
}

.logo-front {
  font-size: 55px;
  margin-left: -50px;
  margin-top: 300px;
  font-color: black;

  a {
    color: black;

    &:hover {
      text-decoration: none;
      color: darken($grey, 40%);
    }
  }
}

.new-search {
  margin-top: 28px;
  margin-left: -90px;

  input[type=text] {
    padding: 10px 10px 10px 10px;
    font-size: 18px !important;
    line-height: 24px;
    width: 300px;
    border: 1px solid darken($grey, 20%);
  }

  input[type=submit] {
    padding: 10px 20px 10px 20px;
    font-size: 18px !important;
    margin-left: 10px;
  }
}
