.container-fluid
  = render partial: 'shared/header'
  .row-fluid
    .span12
      %h3
        Search results for
        %b
          = @query
  .row-fluid
    - if @results.count > 0
      - @results.each_slice(4) do |group|
        .row-fluid
          - group.each do |photo|
            .span3
              = image_tag(FlickRaw.url_m(photo))
    - else
      .span12
        %p No images were found.
