.container-fluid
  .row-fluid
    .span12
      %h1.logo-front.text-center
        = link_to 'Search Flickr.', root_path
    .span12
      = form_tag images_path, method: 'get', class: 'navbar-form new-search text-center' do
        %span
          = text_field_tag :search, nil, placeholder: 'enter a keyword'
        %span
          = submit_tag 'Search', name: nil, class: 'btn btn-success'
