- content_for :javascript do
  :javascript
    $.vegas('slideshow', {
    backgrounds:[
      { src:'/assets/background-1.jpg', fade:2000 },
      { src:'/assets/background-2.jpg', fade:2000 },
      { src:'/assets/background-3.jpg', fade:2000 }
    ]});

.container-fluid
  .row-fluid
    .span12
      %h1.logo-front.text-center
        = link_to 'Search Flickr.', root_path
    .span12
      = form_tag images_path, method: 'get', class: 'navbar-form new-search text-center' do
        %span
          = text_field_tag :search, nil, placeholder: 'enter a keyword'
        %span
          = submit_tag 'Search', name: nil, class: 'btn btn-success'
